@charset "utf-8";

@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

html,body {
    font-family: 'intelone-mono-font-family-regular';
    width: 100%;
    height: 100%;
    color: #2A343D;
    font-size:16px;
}

.main_logo {
    left: 36%;
    top: 10%;
    width: 30%;
    position: absolute;
}

form{
    width: 100%;
    height: 100%;
    font-size: 20px;
}

input{
    border: none;
    background: transparent;
    width: 95%;
    height: 50%;
    font-size: 100%;
    padding-top: 15px;
    padding-left: 10px;
}

input:focus{
    outline:none; /*인풋을 클릭했을 때 생기는 테두리 없앰*/
}

input::placeholder {
    font-family: 'intelone-mono-font-family-regular';
    font-size: 20px;
}

.id, .pw  {
    border: #562ED9 solid 1px;
    
}

.id{
    position: relative;
    top: 23%;
    left: 30%;
    width: 40%;
    height: 6%;
    /* width: 50%;
    left: 25.5%; */
}

.pw{
    position: relative;
    top: 30%;
    width: 40%;
    height: 6%;
    left: 30%;
}

button {
    width: 40%;
    text-align: center;
    position: relative;
    left: 30%;
    top: 35%;
    height: 6%;
    font-size: larger;
    background-color: #562ED9;
    border: #562ED9;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

a:active{
    color: #fff;
}

a:hover{
    color: #131314;
    font-weight: 600;
}


button:active{
    color: #fff;
}

button:hover{
    background-color: #3e1ea7;
    color: #b4b4b4;
}

.first {
    position: relative;
    bottom: 44.5%;
    left: 39%;
    font-size: 20px;
    text-decoration: none;
    color: #5a6064;
    font-weight: 600;
}

.change_pw {
    position: relative;
    bottom: 44.5%;
    right: -51%;
    font-size: 20px;
    text-decoration: none;
    color: #5a6064;
    font-weight: 600;
}

.logo1 {
    position: absolute;
    top: 63%;
    right: 62.5%;
    width: 7%;
}

.logo2 {
    position: absolute;
    top: 63.2%;
    right: 46.1%;
    width: 7%;
}

.logo3 {
    position: absolute;
    top: 63.2%;
    right: 29.7%;
    width: 6.8%;
}
