@charset "utf-8";

@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

html,body {
    font-family: 'intelone-mono-font-family-regular';
    width: 100%;
    height: 100%;
    color: #2A343D;
    font-size:16px;
}

.logo {
    width: 14%;
    position: relative;
    left: -60%;
}

.navbar{
    background-color: #1E0A4F;
    justify-content: center;
}

/* li {
    left: -90%;
} */


/* .nav-item {
    justify-content: center;
} */

/* .nav {
    justify-content: center;
} */
.collapse {
    justify-content: end;
}

a {
    font-size: large;
    color: #fff;
    text-decoration: none;
    
}

.nav-link1 {
    position: relative;
    right: 100%;
    font-weight: 600;
}

.nav-link2 {
    position: relative;
    right: 80%;
    font-weight: 600;
}

.nav-link3 {
    position: relative;
    right: 60%;
    font-weight: 600;
}

.nav-link4 {
    position: relative;
    right: 40%;
    font-weight: 600;
}

.nav-link5 {
    position: relative;
    right: 20%;
    font-weight: 600;
}

.nav-link6 {
    position: relative;
    right: 1%;
    font-weight: 600;
}

a:hover {
    font-size: larger;
    color: #fff;
    text-decoration: none;
}

/* li.nav-item {
    left: -90%;
    position: relative;
} */
